body {
  background-color: #98b8f3;
}

.box {
  background-color: rgb(245, 245, 245);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search {
  color: #ffffff;
  background-color: #98b8f3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5;
  text-decoration: none;
}

.text {
  color: rgb(22, 14, 144);
  border: none;
  background: none;
  float: left;
  padding: 0;
  font-size: 15px;
  transition: 0.4s;
  line-height: 50px;
  width: 0;
  border-radius: 30px;
}

.text:hover {
  border: 1px solid rgb(165, 155, 155);
}

.box:hover>.text {
  width: 300px;
  padding: 0 7px;
}

.box:hover>.search {
  background-color: whitesmoke;
  color: #2f4f89;
}
